*,*::before,*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1vw;
  font-size: 1rem;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#game-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-image{
  width: 15vw;
}

.card-name{
  font-size: clamp(1rem, 3vw, 2rem);
  font-weight: 700;
  text-align: center;
}
.card-yomi{
  text-align: center;
}
.target-text{
  padding-bottom: 1em;
}
.typing-input{
  width: 90vw;
  padding: 1em;
  outline: none;
  border-width: 2px;
  border-color: #ccc;
  border-style: solid;
  text-align: center;

  &:focus{
    border-width: 2px;
  }
}

/* フィードバックメッセージの基本スタイル */
.feedback-msg {
    font-weight: bold;
    font-size: 1.5rem;
    height: 1.5rem; /* 高さを固定しておくとレイアウトが崩れません */
    margin: 10px 0;
    opacity: 0;     /* 初期状態は透明 */
    transition: opacity 0.5s ease; /* 0.5秒かけてフェード変化 */
}

/* 表示状態（JSでこのクラスを付け外しします） */
.feedback-msg.show {
    opacity: 1;
}

/* 正解時のスタイル */
.feedback-msg.is-good {
    color: #4caf50; /* 緑系 */
}

/* 不正解時のスタイル */
.feedback-msg.is-miss {
    color: #f44336; /* 赤系 */
}